<head>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<div class="aboutpage" layout="row">
    <div style="padding-left: 2%;">
        <h3>About Us</h3>
        <p style="text-align: left;"> This student project is dedicated to Unmanned Aerial System Course 2017 at the University of M&#252nster.
		The main objective of this project was to implement emerging unmanned aerial methods to perform environmental analysis.<br/>
            The excursion site is located in the Aa River in M&#252nster, focusing on a 100-meter long curving segment. In recent years, re-naturalization efforts have been conducted in this river.<br/> A part of this renaturation was to introduce the 'curving' (or meandering), as a step to lower the water velocity and allow flora and fauna to be sustained.
            To evaluate this effort, image and video analysis were conducted around the curving area of Aa River. The objective was to unite the various sources of data (e.g. orthophotos, remote sensing derivations, and videos) in one place, allowing the user to learn and evaluate the re-naturation with high resolution and recent data. 
			The 3D platform is hosted by an embedded ESRI cloud application. In addition, the following images and videos are presented under their respective sections:</p>
            
			<b>Images (Map Layers) </b><br>
			1. Mosaic<br/>
            2. Digital Surface Model (DSM)<br/>
            3. Normalized difference vegetation index (NDVI)<br/>
            4. False Color<br/>
            5. Flight Plan<br/>
			6. Aspect <br/>
			7. Slope <br/>
			8. Hillshade <br/>
			9. Floating Points (interactive layer) <br/>
			10. Classification <br/>
			<br>
			<b>Videos </b><br>
			1. Video captured using RGB sensor<br>
			2. Video captured using thermal sensor<br>
			3. Video captured using thermal sensor(after stabilization)<br>
			4. Video Captured Using Thermal Sensor (After Stabilization)<br>
			5. Object(Float) detection in video using template matching algorithm in openCV captured by RGB sensor<br>
			6. Object(Float) detection in video using image processing tool in matlab captured by thermal sensor<br>
			7. Object(Float) detection in video using template matching algorithm in openCV captured by RGB sensor<br>
			8. Object(Float) detection in video using image processing tool in matlab captured by thermal sensor<br>
			<br>
			To read further about the renaturation of the Aa River (German), <a href="http://www.vision-wasser.de/kooperationen/ms/ms-aa/83.html"> click here</a><br>
			
			<Videos>
			
			
        <footer style="align:center;">
            <a href="https://github.com/MojioMS/UAS_2017_WebGroup" title="View Source on GitHub">
                <img alt="View Source on GitHub" src="../app/components/assets/github-round.png" width="46" align="center"/>
            Visit us on Github </a>
            <p><br><a href="https://www.ifgi.de"> Institute for Geoinformatics - University of M&#252;nster</a></p>

            <p class="icon-credits">Icons from <a href="http://www.iconsdb.com">http://www.iconsdb.com</a></p>
        </footer>
    </div>
</div>
