/* Animations */
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

/**
.animate-enter {
        -webkit-transition: 1s linear all; 
        transition: 1s linear all;
        opacity: 0;
}
 
.animate-enter.animate-enter-active {
        opacity: 1;
}:
*/

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* Rules for sizing the icon. */
.material-icons.md-10 {font-size: 10px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-128 { font-size: 128px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// libs overrides
.material-icons {
    vertical-align: middle;
}

::before, ::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

::before, ::after {
    box-sizing: border-box;
}

.flex {
    -webkit-box-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.material-icons.grey leg {
    color: #616161;
}

.material-icons.blue {
    color: #1A80C1;
}

#mapid {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}




#main-toolbar {
    position: fixed;
    width: 100%;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    z-index: 1900;
    .logo-icon {
        width: 65px;
        height: 55px;
    }
    language-menu {
        margin-bottom: 8px;
    }
    img {
        padding-bottom: 2px;
    }

    .toolbar-title{
        padding-left: 20px;
    }
}

md-toolbar {
    // toolbars
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    md-icon {
        display: block !important;
        height: auto;
    }
}

.UASWebApp-one {
    color: #1A80C1;
}

.UASWebApp-two {
    color: #8CBF3F;
}

html, body {
    height: 100%;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
}

#contentPane {
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 60px;
}

#placeholder-right, #placeholder-left {
    background-color: #FFFFFF;
}

#mapid {
    width: 100%;
    height: 90%;
    position: absolute;
    #pixelValue {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        background: white;
        padding: 1em;
    }
    .DEM-legend{
        padding: 0.6vw 0.8vw;
        background-color: #FFFFFF;
        width: 11.5em;
        max-height: 16.5em;
        line-height: 1.75em;
        color: #555;
        margin-right: 0.8vw;
        opacity: 0.9;
        box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
        border-radius: 0.5em;
    }
    .flight-plan-legend {
        padding: 0.6vw 0.8vw;
        background-color: #FFFFFF;
        width: 11.5em;
        max-height: 16.5em;
        line-height: 1.75em;
        color: #555;
        margin-right: 0.8vw;
        opacity: 0.9;
        box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
    }
    .flight-plan-legend i {
        width: 1.5em;
        height: 1.5em;
        float: left;
        margin-right: 0.8vw;
        opacity: 0.7;
        /*border: 0.1em solid black;*/
    }

    .dem-rainbow{
        height: 20px;
        background: linear-gradient(to right, #000000 0%, #ffffff 100%);
        border: solid 1px #c7c7c7;
        /*polygon-fill: #E7E1EF;
        polygon-opacity: 0.8;
        line-color: #FFF;
        line-width: 0.5;
        line-opacity: 1;*/
    }
    .center-button{
        padding: 0.6vw 0.8vw;
        background-color: #FFFFFF;
        width: 24px;
        height: 24px;
        /* line-height: 1.75em; */
        color: #555;
        /* margin-right: 0.8vw; */
        /* opacity: 0.9; */
        box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
    }
    .layers-description {
        padding: 1.6vw 0.8vw 1.6vw 1.6vw;
        background-color: #FFFFFF;
        max-width: 40.5em;
        max-height: 16.5em;
        line-height: 1.75em;
        color: #555;
        margin-right: 0.8vw;
        opacity: 0.9;
        box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
        border-radius: 0.5em;
    }
    .layer-description-title {
        font-size: 18px;
        font-weight: bold;
    }

    .layer-description-container {
        padding-top: 10px;
        max-height: 14.5em;
        overflow-y: auto;
    }
}

.uas-sidenav {
    top: 60px;
    max-width: 200px;
    position:fixed;
    z-index: 2300;
}

.md-sidenav-backdrop {
    position:fixed;
    z-index: 2200;
}

.uas-sidenav .button-icon {
    height: 20px;
    width: 20px;
    padding: 7px 0 0px;
    vertical-align: middle;
    float: left;
}

.uas-sidenav .md-accent span {
    /* position: relative; */
    /* text-align: left; */
    /* display: inline-block; */
    float: left;
    margin-left: 10px;
}

.uas-sidenav .uas-md-button {
    width: 150px;
    color: rgb(94, 103, 121);
}

.uas-sidenav .close-button-img {
    float: right;
    top: 20px;
    position: absolute;
    right: 20px;
    padding: 0px;
}

.aboutpage {
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    ul {
        text-align: center;
    }
    footer {
        padding: 1em;
        clear: left;
        text-align: center;
    }
}

.slider {
    position: absolute;
    bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    width:100%;
    .rzslider {
        margin-top: 20px;
        margin-left: 16px;
    }
    .rz-pointer{
        background-color: #0d6af0;
    }
}

.homepage {
    h1 {
        text-align: left;
    }
    p {
        text-align: left;
    }
    ul {
        text-align: left;
        padding-left: 0px;
    }
    footer {
        padding: 1em;
        clear: left;
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    .sub-tree{
        padding-left: 50px;
    }
}

.md-select-menu-container {
    z-index: 1005;
}

.videospeed {
    margin-top: 8px;
    margin-bottom: 8px;
    .md-select-value {
        min-width: 0px;
    }
}