<!-- Main HTML content -->
<div layout="column" flex>
    <!-- put leaflet inside 'nd stuff... -->
    <div id="mapid" style="height: {{height}}px;"></div>
    <div ng-show="my.slidershow" class="slider" layout="row">
        <p ng-if="!screenIsXS">dataset:</p>
        <md-select ng-model="selectedFloatingData" placeholder="1" class="md-no-underline videospeed" ng-change="vidDataChanged()">
            <md-option value="0">1</md-option>
            <md-option value="1">2</md-option>
            <md-option value="2">3</md-option>
        </md-select>
        <md-button class="md-primary md-raised" ng-if="!playPressed && !screenIsXS" ng-click="playSlider()">PLAY</md-button>
        <md-button class="md-primary md-raised" ng-if="playPressed && !screenIsXS" ng-click="playSlider()">PAUSE</md-button>
        <md-button class="md-primary md-raised" ng-if="!playPressed && screenIsXS" ng-click="playSlider()" style="min-width: 0px;">
            <i class="material-icons">play_circle_filled</i></md-button>
        <md-button class="md-primary md-raised" ng-if="playPressed && screenIsXS" ng-click="playSlider()" style="min-width: 0px;">
            <i class="material-icons">pause_circle_filled</i></md-button>
        <md-select ng-model="videoSpeed" placeholder="1 x" class="md-no-underline videospeed" ng-change="vidSpeedChanged()">
            <md-option value="0.125">8 x</md-option> <!-- value = 1 / option -->
            <md-option value="0.25">4 x</md-option>
            <md-option value="0.5">2 x</md-option>
            <md-option md-selected value="1">1 x</md-option>
            <md-option value="2">0.5x</md-option>
            <md-option value="4">0.25x</md-option>
        </md-select>
        <rzslider flex
            rz-slider-model="slider.value" 
            rz-slider-options="slider.options"></rzslider>
    </div>
</div>