
<head>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<div flex>
    <div class="span6 pull-right" style="text-align:right">
        <table class="table table-hover" style="float:right;">
            <tbody>
            <tr ng-show="play">
                <td>
                    <video width=560 height=315 style="cursor: pointer;" ng-click="currentVideo($index)" autoplay
                           controls
                           ng-src="{{current_video.Video | trustUrl}}"/>
                </td>
            </tr>
            <tr>
                <td>{{current_video.Info}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span6 pull-left" style="padding-left: 3%;padding-top: 1%;">

        <table class="table table-hover" style="float:left;">
            <thead>
            <!--<tr>
                <td><strong>Videos</strong></td>
                <td><strong>Description</strong></td>
            </tr> -->

            </thead>
            <tbody>

            <tr ng-repeat="uav in UAVVideos">
                <td>
                    <video width=176 height=99 style="cursor: pointer;" ng-click="currentVideo($index)"
                           ng-src="{{uav.Video | trustUrl}}"/>
                </td>
                <td>{{uav.Description}}</td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"
                            ng-click="currentVideo($index)">More Info
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
