<md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">

        <md-button style="margin-left: 4px; margin-bottom: 8px !important;" ng-click="toggleLeft()">
            <md-icon class="material-icons md-36 white09" md-font-set="material-icons">menu</md-icon>
        </md-button>

        <img class="logo-icon" src="app/components/assets/logo.png">

        <span flex class="flex"></span>

        <language-menu style ="margin-top: 24px !important;">
        </language-menu>

    </div>

</md-toolbar>
